ADMIN_USER=admin
ADMIN_PASSWORD=tescgsm
VITE_SHOP_URL=http://localhost:5173
VITE_ADMIN_URL=http://localhost:5174

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=tescgsm
MYSQL_PASSWORD=tescgsm
MYSQL_DATABASE=tescgsm
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=tescgsm
